body {
  position: relative;
  padding: 1px;
  margin: 0;
}
table {
  width: 380px;
  height: 380px;
  margin: 50px auto 20px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 11.111%;
  height: 11.111%;
  font-size: 150%;
  cursor: pointer;
}
.buttons button {
  width: 10%;
  padding: 10px;
  font-size: 120%;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 3px 3px 3px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.given {
  font-weight: bold;
  background-color: #cecece;
  cursor: not-allowed;
}
.r3,
.r6,
.r9 {
  border-bottom: 3px solid black;
}
.c3,
.c6,
.c9 {
  border-right: 3px solid black;
}
.r1 {
  border-top: 3px solid black;
}
.c1 {
  border-left: 3px solid black;
}
.backDrop {
  position: absolute;
  width: 100%;
  height: 98vh;
  top: 0;
  background-color: rgba(213, 212, 212, 0.8);
  backdrop-filter: blur(1px);
}
.inputDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.solved {
  display: inline-block;
  background-color: #63ff63;
  font-size: 120%;
  font-weight: bold;
  padding: 15px 10%;
  border: 6px solid #2cb62c;
  border-radius: 15px;
}
.notsolved {
  display: inline-block;
  background-color: #ff4d4d;
  font-size: 120%;
  font-weight: bold;
  padding: 15px 10%;
  border: 6px solid #ff0000;
  border-radius: 15px;
}

.row button {
  padding: 10px 15px;
  margin: 5px 2px;
  border: 2px solid black;
  font-size: 150%;
  font-weight: bold;
  cursor: pointer;
}
.backDrop.hide {
  display: none;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
}
#loadNew {
  background-color: #55ccff;
}
#solveIt {
  background-color: #ffa84d;
}
#checkIt {
  background-color: #ffff4d;
}

@media screen and (max-width: 800px) {
  .buttons button {
  	width: 30%;
  }
}
